@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    color: white;
    height: 50px;
    font-size: 27px;
    display: flex;
    align-items: center;
    padding: 12px;
    font-family: "Poppins", sans-serif;
}

nav ul {
    list-style: none;
}